<ngx-spinner
  bdOpacity = 0.9
  bdColor = "white"
  size = "large"
  color = "#2f7aff"
  type = "ball-atom"
  fullScreen = "true">
  <p style="color: cornflowerblue" > Loading Planets </p>
</ngx-spinner>
<div *ngIf="filteredPlanets">
  <div class="form-group m-3">
    <label class="h4" for="search">Search for planet:</label>
    <input type="text" class="form-control" name="search" id="search" [ngModel]="querySubject | async"
           (ngModelChange)="onQueryChange($event)">
  </div>

  <app-pagination [page]="pageSubject | async"
                  [pageSize]="pageSizeSubject | async"
                  [collectionSize]="collectionSize"
                  (pageChange)="onPageChange($event)"
                  (pageSizeChange)="changePageSize($event)"></app-pagination>

  <div class="list-group m-3">
    <a class="list-group-item list-group-item-action flex-column align-items-start"
       *ngFor="let planet of filteredPlanets"
       [routerLink]="['/planet', planet.id]">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{planet.name}}</h5>
        <small>Climate: {{planet.climate}}</small>
      </div>
    </a>
  </div>

  <app-pagination [page]="pageSubject | async"
                  [pageSize]="pageSizeSubject | async"
                  [collectionSize]="collectionSize"
                  (pageChange)="onPageChange($event)"
                  (pageSizeChange)="changePageSize($event)"></app-pagination>
</div>
