<div *ngIf="planetList">
  <div>
    <div>
      <label class for="search">Search for planet: </label>
      <input type="text" class="form-control" name="search" id="search" [(ngModel)]="query" (keyup)="onSearch()">
    </div>
  </div>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="collectionSize"></ngb-pagination>
  <div class="btn-group">
    <div *ngFor="let setPageSize of pageSizes" class="btn btn-primary"
         (click)="changePageSize(setPageSize)"> {{setPageSize}} </div>
  </div>

  <div class="list-group">
    <a class="list-group-item list-group-item-action"
       *ngFor="let planet of filteredPlanets | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      {{planet.name}}
    </a>
  </div>
</div>

